@import url('/styles/typeface.css');
@import url('/styles/normalize.css');

/* define variables */
:root {
    /* base length */
    --rem: 24px;

    --font-weight-light: 350;
    --font-weight-normal: 450;
    --font-weight-heavy: 700;
    --font-family: 'Inter', sans-serif, emoji;
    --font-feature-settings: 'cv01';

    /* typeface stuff */
    --ff-upm: 2048;
    --ff-cap-height: 1490;
    --ff-ascender: 1984;
    --ff-descender: 494;

    --compact-line-height: calc(var(--ff-cap-height) / (var(--ff-upm)));
    --line-height: calc(2 * var(--compact-line-height));

    /* miscellaneous lengths */
    --spacer: 1rem;
    --transition: 150ms;
    --transition-slow: 300ms;
    --transition-fast: 30ms;
    --max-content-width: 1140px;

    --header-margin: 0.5em;
    --ul-padding: 1em;

    --nav-gutter: 2rem;
    --nav-height: calc((2 + var(--compact-line-height)) * 1rem + 2px);

    --side-margin: 1rem;
    --section-margin: 1.5rem;

    /* prevent bottom clipping on mobile */
    --max-height: 100svh;

    --color: #fcfcfc;
    --background-color: #101010;
    --scroll-color: #fff2;
    --hover-color: color-mix(in srgb, var(--color) 75%, var(--background-color));

    --scroll-behavior: smooth;

    /* compensate for scrollbar on desktop */
    @media (any-pointer: fine) {
        --side-margin: 1.5rem;
    }

    /* make text smaller on smaller screens */
    @media screen and (max-width: 464px) {
        --rem: 22px;
    }
    @media screen and (max-width: 424px) {
        --rem: 20px;
    }
    @media screen and (max-width: 386px) {
        --rem: 18px;
    }
    @media screen and (max-width: 348px) {
        --rem: 16px;
    }
}

/* set styles */
:root {
    font-size: var(--rem);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings);
    line-height: var(--line-height);
    text-decoration-thickness: from-font;
    text-underline-offset: from-font;
    text-underline-position: from-font;

    color: var(--color);
    background-color: var(--background-color);
    max-height: var(--max-height);

    scroll-behavior: var(--scroll-behavior);

    /* scrollbar */
    @media not all and (any-pointer: fine) {
        /* mobile: hide scrollbar */
        /* Chrome, Firefox */
        @supports (scrollbar-width: auto) {
            scrollbar-width: none;
        }
        /* Safari */
        @supports selector(::-webkit-scrollbar) and (not (scrollbar-width: auto)) {
            ::-webkit-scrollbar {
                display: none;
            }
        }
    }
    @media (any-pointer: fine) {
        /* desktop: compensate for scrollbar width */
        width: 100vw;
        overflow-x: hidden;
        /* Chrome, Firefox */
        @supports (scrollbar-color: auto) {
            scrollbar-color: var(--scroll-color) transparent;
        }
        /* Safari */
        @supports selector(::-webkit-scrollbar) and (not (scrollbar-color: auto)) {
            ::-webkit-scrollbar {
                background-color: transparent;
            }
            ::-webkit-scrollbar-thumb {
                background-color: var(--scroll-color);
            }
        }
    }
}

header {
    top: 0;
    position: sticky;
    background-color: var(--background-color);
}

footer {
    margin-top: auto;
}
footer > p {
    margin-top: var(--spacer);
    margin-bottom: 0;
    padding: var(--spacer) 0;
    border-top: 2px solid var(--color);
    line-height: var(--compact-line-height);
    text-align: center;
}

section {
    margin: var(--section-margin) 0;
    scroll-margin-top: calc(var(--section-margin) + var(--nav-height));
}

nav {
    line-height: var(--compact-line-height);
    *, ::before, ::after {
        display: inline-block;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: var(--spacer) 0;
        border-bottom: 2px solid var(--color);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    li:not(:first-of-type)::before {
        width: var(--nav-gutter);
        text-align: center;
        content: "\2044";
    }
}

ul {
    padding-inline-start: var(--ul-padding);
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--header-margin) 0;
    font-weight: var(--font-weight-heavy);
    font-size: var(--header-font-size);
}

h1 {
    --header-font-size: 3rem;
}

h2 {
    --header-font-size: 2rem;
}

h3 {
    --header-font-size: 1.5rem;
}

h4 {
    --header-font-size: 1.25rem;
}

h5 {
    --header-font-size: 1.125rem;
}

h6 {
    --header-font-size: 1rem;
}

small {
    font-weight: var(--font-weight-light);
    font-size: 0.75em;
}

sup, sub {
    font-size: inherit;
    vertical-align: baseline;
}
sup {
    font-feature-settings: var(--font-feature-settings), "sups";
}
sub {
    font-feature-settings: var(--font-feature-settings), "subs";
}

em, i {
    font-style: italic;
}

b, strong {
    font-weight: var(--font-weight-heavy);
}

a:any-link {
    color: var(--color);
    transition: color var(--transition), font-weight var(--transition-fast);
    &:hover {
        color: var(--hover-color);
        cursor: pointer;
    }
    nav & {
        text-decoration: none;
        font-style: italic;
        &[aria-current="page"] {
            font-weight: var(--font-weight-heavy);
            pointer-events: none;
            cursor: default;
        }
        @media not all and (any-pointer: fine) {
            &:hover {
                color: var(--color);
            }
        }
    }
    &:not(nav &) {
        text-decoration: underline;
    }
}

.container {
    width: 100%;
    max-width: calc(var(--max-content-width) + 2 * var(--side-margin));
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
}

.full-height {
    min-height: 100svh;
}

.vert-flex {
    display: flex;
    flex-direction: column;
}

.stretch {
    flex: 1 1;
}

.sandwich {
    *:has(+ &), & + * {
        /* styles for prev and next sibling */
    }
}

.loud-notice {
    --side-offset: max(var(--side-margin), calc((100svw - var(--max-content-width)) / 2));
    z-index: -1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--side-offset);
    right: var(--side-offset);
    display: flex;
    text-transform: uppercase;
    & > h1 {
        text-align: center;
        font-size: clamp(3rem, 18svw, 9rem);
        font-style: italic;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }
}
